<app-cabecalho></app-cabecalho>

<div class="border-bottom border-2 border-dark">
  <h4>Atributos</h4>
</div>
<div class="row m-2">
  <div class="col-4 ">
    <app-agrupador-pontos [tipo]="fisico"></app-agrupador-pontos>
  </div>

  <div class="col-4">
    <app-agrupador-pontos [tipo]="social"></app-agrupador-pontos>
  </div>

  <div class="col-4">
    <app-agrupador-pontos [tipo]="mental"></app-agrupador-pontos>
  </div>
</div>
<div class="mt-2 mb-2 border-bottom border-2 border-dark">
  <h4>Habilidades</h4>
</div>
<div class="row m-2">
  <div class="col-4">
    <div>
      <app-agrupador-pontos [tipo]="padrao1"></app-agrupador-pontos>
    </div>
    <div>
      <app-agrupador-pontos [tipo]="padrao2"></app-agrupador-pontos>
    </div>
    <div>
      <app-agrupador-pontos [tipo]="padrao3"></app-agrupador-pontos>
    </div>
  </div>
  <div class="col-4">
    <div>
      <app-agrupador-pontos [tipo]="padrao4"></app-agrupador-pontos>
    </div>
    <div>
      <app-agrupador-pontos [tipo]="padrao5"></app-agrupador-pontos>
    </div>
    <div>
      <app-agrupador-pontos [tipo]="padrao6"></app-agrupador-pontos>
    </div>
  </div>
  <div class="col-4">
    <div>
      <app-agrupador-pontos [tipo]="padrao7"></app-agrupador-pontos>
    </div>
    <div>
      <app-agrupador-pontos [tipo]="padrao8"></app-agrupador-pontos>
    </div>
    <div>
      <app-agrupador-pontos [tipo]="padrao9"></app-agrupador-pontos>
    </div>
  </div>
</div>
<div class=" mt-2 mb-2 border-bottom border-2 border-dark">
  <h4>Disciplinas</h4>
</div>

<div class="row m-2">

  <div class="col-4">
    <app-disciplina></app-disciplina>
  </div>
  <div class="col-4">
    <app-disciplina></app-disciplina>
  </div>
  <div class="col-4">
    <app-disciplina></app-disciplina>
  </div>
</div>

<div class="row m-2">

  <div class="col-4">
    <app-disciplina></app-disciplina>
  </div>
  <div class="col-4">
    <app-disciplina></app-disciplina>
  </div>
  <div class="col-4">
    <app-disciplina></app-disciplina>
  </div>
</div>


