<div class="row mt-0 m-1">

    <div class="row g-1 mt-0">
      <div class="col-4">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Nome</label>
        </div>
      </div>
  
      <div class="col-4">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Conceito</label>
        </div>
      </div>
  
      <div class="col-4">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Predador</label>
        </div>
      </div>
    </div>
  
    <div class="row g-1  mt-0">
      <div class="col-4">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Crônica</label>
        </div>
      </div>
  
      <div class="col-4">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Ambição</label>
        </div>
      </div>
  
      <div class="col-4">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Clã</label>
        </div>
      </div>
    </div>
  
    <div class="row g-1  mt-0">
      <div class="col-4">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Senhor</label>
        </div>
      </div>
  
      <div class="col-4">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Desejo</label>
        </div>
      </div>
  
      <div class="col-4">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Geração</label>
        </div>
      </div>
    </div>
  </div>
